@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .text-shadow {
        text-shadow: rgba(0, 0, 0, 0.498039) -1px -1px 0, rgba(0, 0, 0, 0.498039) -1px 1px 0, rgba(0, 0, 0, 0.498039) 1px 1px 0, rgba(0, 0, 0, 0.498039) 1px -1px 0;
    }
    @keyframes laughingAnimation {
        0% {
            transform: translateY(0);
        }
        20% {
            transform: translateY(-20px);
        }
        30% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
        }
        60% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(0);
        }
    }

    .cartoon-face {
        animation: laughingAnimation 1s infinite;
    }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 76, 149, 65;
  --background-end-rgb: var(--background-start-rgb);
}

html {
    scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
